<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/configuracoes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
  <title>Configurações</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="static/js/config.js" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
</head>
<body class="dna-page">

  <div class="header-bar center">
    <div class="logo-text">
      <img src="{{ url_for('static', filename='images/fin-dark.png') }}" alt="Logo" class="logo">
      <span class="company-name">A&A - Finance Dashboard</span>
    </div>

    <div class="user-info">
      <span class="material-icons user-icon">account_circle</span>
      <span class="user-name">deleted_user</span>
    </div>

  </div>


  <div class="settings-wrapper">
    <div class="settings-header">
      <h1 class="settings-title">Configurações</h1>
      <div class="menu-icon">☰</div>
    </div>

    <div class="settings-card">
      <div class="settings-options">
        <div class="option">
          <div class="option-left">
            <span class="material-icons option-icon">volume_up</span>
            <span class="option-label">Som</span>
          </div>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>

        <div class="option">
          <div class="option-left">
            <span class="material-icons option-icon">notifications</span>
            <span class="option-label">Notificações</span>
          </div>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>

        <!-- <div class="option">
          <div class="icon">🖼️</div>
          <span>Galeria</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>

        <div class="option">
          <div class="icon">🌐</div>
          <span>Navegador</span>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>
      </div> -->
      </div>
    </div>

    <div class="danger-card">
      <div class="settings-footer">
        <!-- <div class="footer-icon">👤</div>
        <div class="footer-icon">☁️</div> -->
        <div class="footer-icon material-icons" aria-hidden="true">delete_forever</div>
        <span class="danger-label">Excluir Conta</span>
      </div>
    </div>
  </div>


<!-- Modal ok  -->
<div id="modal-delecao-ok" class="modal" style="display: none;">
  <div class="modal-content modal-content-success">
    <span class="close" id="fechar-modal-ok">&times;</span>
    <h4>Conta encerrada com sucesso. </h4>
    <br>
    <h4>Até Logo !</h4>
    <form method="GET" action="/">
      <input type="hidden" id="id-gasto" name="id">
      <button type="submit" id="confirmar-ok" class="botao-salvar" style="margin-top: 12px;">OK</button>
  </form>

  </div>
</div>



<div class="footer-bar">
  <a href="{{ url_for('gasto.index') }}">
    <button class="footer-btn">
      <span class="material-icons">dashboard</span>
      <span class="footer-text">Visão Geral</span>
    </button>
  </a>
  <a href="{{ url_for('despesa.despesas') }}">
    <button class="footer-btn">
      <span class="material-icons">bar_chart</span>
      <span class="footer-text">Despesas</span>
    </button>
  </a>
  <a href="{{ url_for('gasto.extrato') }}">
    <button class="footer-btn">
      <span class="material-icons">account_balance_wallet</span>
      <span class="footer-text">Transações</span>
    </button>
  </a>
  <a href="{{ url_for('despesa.metas') }}">
    <button class="footer-btn">
      <span class="material-icons">payment</span>
      <span class="footer-text">Limites</span>
    </button>
  </a>
    <a href="{{ url_for('gasto.configuracoes') }}">
    <button class="footer-btn active">
      <span class="material-icons">settings</span>
      <span class="footer-text">Configurações</span>
    </button>
  </a>
</div>
</body>
</html>
