<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/despesas.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="static/js/despesas.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
    <script src="static/js/comum.js" defer></script>
    <title>Quadro de Despesas Mensais </title>
</head>
<body>

  <div class="header-bar center">
    <div class="logo-text">
      <img src="{{ url_for('static', filename='images/A&A.png') }}" alt="Logo" class="logo">
      <span class="company-name">A&A - Finance Dashboard</span>
    </div>

    <div class="user-info">
      <div class="dropdown">
        <div class="dropdown-toggle" onclick="toggleDropdown()">
          <span class="material-icons user-icon">{% if isCasal == 'N' %}person {% else %} people {% endif %}</span>
        </div>
    
        <div id="main-dropdown" class="dropdown-menu">
          <div class="profile-header">
            <span  id="user-icon" class="material-icons profile-icon">{% if isCasal == 'N' %}person {% else %} people {% endif %}</span>
            <div  id="current-username"  class="profile-name">{{ usuario.split('@')[0] | upper }}</div>
          </div>
    
          <div class="dropdown-item" onclick="toggleModeDropdown()">
            Modo
            <span class="material-icons">expand_more</span>
          </div>
    
          <!-- submenu do modo -->
          <div id="mode-dropdown" class="dropdown-submenu">
            {% if temConjuge %}
            <div class="dropdown-item" onclick="changeMode('S')">Casal</div>
            {% endif %}
            <div class="dropdown-item" onclick="changeMode('N')">Individual</div>
          </div>
    
          <div class="dropdown-item">
            Idioma
            <div class="language-selector">
              <span>Português</span>
              <img src="https://flagcdn.com/w40/br.png" alt="BR" width="16" />
            </div>
          </div>
    
          <div class="dropdown-item" onclick="signOut()">Sign out</div>
        </div>
      </div>
    </div>

  </div>

  <h2>Despesas Mensais</h2>
<br>
  <div style="margin-bottom: 20px; display: flex; gap: 4px; align-items: center; flex-wrap: wrap;">
    <label for="filtroMes" style="font-weight: bold;">Selecione o mês:</label>
    <input type="month" id="filtroMes" name="mes_ano" style="padding: 10px; border-radius: 8px; border: 1px solid #B0E0E6; font-size: 10px;"  value="{{ mes_ano }}">
    <button class="botao-filtrar" onclick="filtrarPorMes()">Filtrar</button>
    <!-- <button onclick="limparFiltro()">Limpar</button> -->

    <div class="legenda">
      <div class="legenda-item">
        <span class="legenda-icon Pago"></span>
        <span class="legenda-texto">Pago</span>
      </div>
      <div class="legenda-item">
        <span class="legenda-icon Pendente"></span>
        <span class="legenda-texto">Pendente</span>
      </div>
      <div class="legenda-item">
        <span class="legenda-icon Parcial"></span>
        <span class="legenda-texto">Parcial</span>
      </div>
    </div>

    <!-- dele/dela (só exibir se for visualziacao de casal)--> 
    {% if isCasal == 'S' %} <!--(só exibir se for visualziacao de casal)--> 
    <div class="casal">
      <div class="casal-item">
        <span class="casal-icon dele"></span>
        <span class="casal-texto">Ele</span>
      </div>
      <div class="casal-item">
        <span class="casal-icon dela"></span>
        <span class="casal-texto">Ela</span>
      </div>
    </div>
    {% endif %}
  </div>
<div class="tabela">
  <table>
    <thead>
      <tr>
        <th>Despesa</th>
        <th>Categoria</th>
        <th>Valor (R$)</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Alterar</th>
        <th colspan="2"> </th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
        {% for despesa in despesas %}
      <tr data-data="{{ despesa[3] }}" data-id="{{ despesa[6] }}"
      {% if despesa[5] == 'FIXA' %} class="linha-fixa" {% endif %}
      style="background-color: {% if  despesa[7]  == 'S' %}rgba(247, 236, 247, 0.65){% else %}rgba(222, 251, 255, 0.65)
      {% endif %}; line-height: 1.6;"
      >
        <td>{{ despesa[1] }}</td>
        <td>{{ despesa[0] }}</td>
        <td>{{ despesa[2] }}</td>
        <td class="status-cell">
            <span class="status-indicator {{ despesa[4] | replace(' ', '-') }}"></span>
            <!-- <span class="status-text">{{ despesa[4] }}</span> -->
          </td>
          <td>{{ despesa[5] }}</td>
          <td>
            <select name="categoria" onchange="atualizarStatus(this)">
                <option value="Pago" {% if despesa[4] == 'Pago' %}selected{% endif %}>Pago</option>
                <option value="Parcial" {% if despesa[4] == 'Parcial' %}selected{% endif %}>Parcial</option>
                <option value="Pendente" {% if despesa[4] == 'Pendente' %}selected{% endif %}>Pendente</option>
              </select>
        </td>
        <td class="icones">
          {% if despesa[5] != 'FIXA' %}
            <i class="fas fa-edit edit-icon"
            data-data="{{ despesa[3] }}"
            data-categoria="{{ despesa[0] }}"
            data-descricao="{{ despesa[1] }}"
            data-valor="{{ despesa[2] }}"
            data-id="{{ despesa[6] }}"
            title="Editar"></i>
          {% endif %}
      </td>
      <td class="icones">
        {% if despesa[5] != 'FIXA' %}
          <i class="fa-solid fa-trash"
          data-id="{{ despesa[6] }}"
          ></i>
          {% endif %}  
      </td>


      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
          <td colspan="4" style="text-align: left; font-weight: bold;">Total do período:</td>
          <td></td>
          <td colspan="3" style="font-weight: bold;">
              R$ {{ '%.2f' | format(somaDespesas) }}
          </td>
      </tr>
      
  </tfoot>
  </table>
</div>
  <div class="button-container">
    <!-- <a href="{{ url_for('despesa.cadastrar_despesa') }}"><button class="btn-left">Adicionar Despesa</button></a> -->
    <button class="btn-left">Adicionar Despesa</button>
    <!-- <a href="{{ url_for('gasto.index') }}" ><button class="btn-voltar">Sair</button></a> -->
  </div>


<!-- Modal de Edição -->
<div id="modal-editar" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="fechar-modal">&times;</span>
    <h3>Editar Despesa</h3>
    <form id="form-editar" method="POST" action="{{ url_for('despesa.editar_despesa') }}">

      <label for="editar-categoria">Categoria:</label>
      <!-- <input type="text" name="categoria" id="editar-categoria" required> -->
      <select name="categoria" id="editar-categoria">

        <option value="Alimentação">Alimentação</option>
        <option value="Saúde">Saúde</option>
        <option value="Mobilidade">Mobilidade</option>
        <option value="Entretenimento">Entretenimento</option>
        <option value="Moradia">Moradia</option>
        <option value="Outros">Outros</option>
        <option value="Dívidas">Dívidas</option>
        <option value="Educação">Educação</option>
    </select>

      <label for="editar-descricao">Descrição:</label>
      <input type="text" name="despesa" id="editar-descricao" required>

      <label for="editar-valor">Valor (R$):</label>
      <input type="number" step="0.01" name="valor" id="editar-valor" required>

      <input type="hidden" id="editar-id" name="id">

      <button type="submit" class="botao-salvar">Salvar</button>
    </form>
  </div>
</div>

<!-- Modal confirmação  -->
<div id="modal-confirmar-exclusao" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="fechar-modal-excluir">&times;</span>
    <h3>Tem certeza que deseja excluir esta despesa?</h3>
    <form method="POST" action="{{ url_for('despesa.deletar_despesa') }}"> 
      <input type="hidden" id="id-despesa-excluir" name="id">
      <button type="submit" id="confirmar-exclusao" class="botao-deletar" style="margin-top: 12px;">OK</button>
  </form>
  
  </div>
</div>


<!-- Modal de Cadastro -->
<div id="modal-cadastrar" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="fechar-modal-cadastro">&times;</span>
    <h3>Cadastrar Despesa</h3>
    <form id="form-cadastrar" method="POST" action="{{ url_for('despesa.cadastrar_despesa') }}">
      <!-- <label for="cadastrar-data">Data:</label>
      <input type="date" name="data" id="cadastrar-data"> -->

     <label for="cadastrar-data" style="font-weight: bold;">Selecione o mês:</label>
    <input type="month"  name="mes_ano" id="cadastrar-data" style="padding: 10px; border-radius: 8px; border: 1px solid #B0E0E6; font-size: 10px;"  value="{{ mes_ano }}">  


      <label for="cadastrar-categoria">Categoria:</label>
      <!-- <input type="text" name="categoria" id="cadastrar-categoria" required> -->
      <select name="categoria" id="cadastrar-categoria">

          <option value="Alimentação">Alimentação</option>
          <option value="Saúde">Saúde</option>
          <option value="Mobilidade">Mobilidade</option>
          <option value="Entretenimento">Entretenimento</option>
          <option value="Moradia">Moradia</option>
          <option value="Outros">Outros</option>
          <option value="Dívidas">Dívidas</option>
          <option value="Educação">Educação</option>
      </select>

       <!-- Tipo de gasto (Radio Buttons em linha) -->
       <label for="cadastrar-tipo">Tipo Despesa:</label>
       <div style="display: flex; flex-direction: row; align-items: center; gap: 20px; margin-bottom: 10px;">
         <label style="display: flex; align-items: center; gap: 5px;">
           <input type="radio" name="tipo_despesa" value="Fixa" required> Fixa
         </label>
         <label style="display: flex; align-items: center; gap: 5px;">
           <input type="radio" name="tipo_despesa" value="Exceção" required> Exceção
         </label>
         <label style="display: flex; align-items: center; gap: 5px;">
           <input type="radio" name="tipo_despesa" value="Variável" required> Variável
         </label>
       </div>

      <label for="cadastrar-descricao">Descrição:</label>
      <input type="text" name="despesa" id="cadastrar-descricao" required>

      <label for="cadastrar-valor">Valor (R$):</label>
      <input type="number" step="0.01" name="valor" id="cadastrar-valor" required>

      <input type="hidden" id="cadastrar-id" name="id">

      <button type="submit" class="botao-salvar">Salvar</button>
    </form>
  </div>
</div>


<!-- Modal ok  -->
<div id="modal-cadastro-ok" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="fechar-modal-ok">&times;</span>
    <h4>Gasto Cadastrado com sucesso!</h4>
    <form method="POST"> 
      <input type="hidden" id="id-gasto" name="id">
      <button type="submit" id="confirmar-ok" class="botao-salvar" style="margin-top: 12px;">OK</button>
  </form>
  
  </div>
</div>


<!-- Modal mensalista  -->
<div id="modal-mensalista" class="modal" style="display: none;">
  <div class="modal-content" style="background-color: #e96960;">
    <span class="mensalista" id="fechar-modal-mensalista">&times;</span>
    <h4 style="text-align: center; color: #f5f5f5;">Assinatura de mensalista vencida!</h4>
    <h4 style="text-align: center; color: #f5f5f5;">Contate o administrador.</h4>  
    <button type="submit" id="confirmar-ok" class="btn-ok" style="margin-top: 12px;">OK</button>  
  </div>
</div>


<div class="footer-bar">
  <a href="{{ url_for('gasto.index') }}">
    <button class="footer-btn">
      <span class="material-icons">dashboard</span>
      <span class="footer-text">Visão Geral</span>
    </button>
  </a>
  <a href="{{ url_for('despesa.despesas') }}">
    <button class="footer-btn active">
      <span class="material-icons">bar_chart</span>
      <span class="footer-text">Despesas</span>
    </button>
  </a>
  <a href="{{ url_for('gasto.extrato') }}">
    <button class="footer-btn">
      <span class="material-icons">account_balance_wallet</span>
      <span class="footer-text">Transações</span>
    </button>
  </a>
  <!-- <a href="{{ url_for('despesa.metas') }}">
    <button class="footer-btn">
      <span class="material-icons">payment</span>
      <span class="footer-text">Limites</span>
    </button>
  </a> -->
  <a href="{{ url_for('gasto.configuracoes') }}">
    <button class="footer-btn">
    <span class="material-icons">settings</span>
    <span class="footer-text">Configurações</span>
    </button>
</a>
</div>

</body>
</html>