<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/extrato.css') }}">
    <script src="static/js/extrato.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
    <script src="static/js/comum.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
</head>
<body>

    <div class="header-bar center">
        <div class="logo-text">
          <img src="{{ url_for('static', filename='images/fin-dark.png') }}" alt="Logo" class="logo">
          <span class="company-name">My Finance Dashboard</span>
          <span class="ambiente">HOMOLOGAÇÃO</span>
        </div>
    
        <div class="user-info">
          <div class="dropdown">
            <div class="dropdown-toggle" onclick="toggleDropdown()">
              <span class="material-icons user-icon">{% if isCasal == 'N' %}person {% else %} people {% endif %}</span>
            </div>
        
            <div id="main-dropdown" class="dropdown-menu">
              <div class="profile-header">
                <span  id="user-icon" class="material-icons profile-icon">{% if isCasal == 'N' %}person {% else %} people {% endif %}</span>
                <div  id="current-username"  class="profile-name">{{ usuario.split('@')[0] | upper }}</div>
              </div>
        
              <div class="dropdown-item" onclick="toggleModeDropdown()">
                Modo
                <span class="material-icons">expand_more</span>
              </div>

              <!-- submenu do modo -->
          <div id="mode-dropdown" class="dropdown-submenu">
            {% if temConjuge %}
            <div class="dropdown-item" onclick="changeMode('S')">Casal</div>
            {% endif %}
            <div class="dropdown-item" onclick="changeMode('N')">Individual</div>
          </div>
    
          <div class="dropdown-item">
            Idioma
            <div class="language-selector">
              <span>Português</span>
              <img src="https://flagcdn.com/w40/br.png" alt="BR" width="16" />
            </div>
          </div>
    
            <!-- seleção de tema -->
            <div class="dropdown-item" onclick="toggleThemeDropdown()">
              Tema
              <span class="material-icons">expand_more</span>
            </div>

            <!-- submenu tema -->
            <div id="theme-dropdown" class="dropdown-submenu">

              <div class="dropdown-item" onclick="changeTheme('green')">
                🟢 Green
              </div>

              <div class="dropdown-item" onclick="changeTheme('yellow')">
                🟡 Yellow
              </div>

              <div class="dropdown-item" onclick="changeTheme('ocean')">
                🔵 Ocean
              </div>

              <div class="dropdown-item" onclick="changeTheme('dark')">
                ⚫ Dark
              </div>

            </div>
              
              <div class="dropdown-item" onclick="signOut()">Sign out</div>
            </div>
          </div>
        </div>
    
      </div>
      

    <div class="container-detalhes" >

        <h2 style="text-align: center;">Extrato</h2>

        <div class="filtro-container">

<!-- Filtro -->
<form method="GET" action="{{ url_for('gasto.extrato') }}" class="filtro-card" id="filtro-form">

  <input type="text" id="periodo-picker" readonly />

  <input type="hidden" id="data_inicio" name="data_inicio" value="{{ data_inicio }}">
  <input type="hidden" id="data_fim" name="data_fim" value="{{ data_fim }}">

  <select name="categoria">
      <option value="Todas">Todas</option>
      {% for cat in categorias %}
          <option value="{{ cat }}" {% if request.args.get('categoria') == cat %}selected{% endif %}>
              {{ cat }}
          </option>
      {% endfor %}
  </select>

  <!-- <button type="submit" class="botao-filtrar">
    <span class="material-icons">search</span>
    Filtrar
  </button> -->
   <!-- filtro mês --> 
    <div class="filtro-mes">
    <button type="submit">
      <span class="material-icons">search</span>
    </button>
  </div>

</form>

<!-- dele/dela (só exibir se for visualziacao de casal)--> 
{% if isCasal == 'S' %} <!--(só exibir se for visualziacao de casal)--> 
<div class="casal">
  <div class="casal-item">
    <span class="casal-icon dele"></span>
    <span class="casal-texto">Ele</span>
  </div>
  <div class="casal-item">
    <span class="casal-icon dela"></span>
    <span class="casal-texto">Ela</span>
  </div>
</div>
{% endif %}

</div>
<br>

<div class="quick-container">

  <div id="toast" class="toast"></div>

  <!-- acoes rapidas -->
  <div class="quick-actions">
    {% for acao in acoes %}
    <div class="quick-tag"
      onclick="quickAddGasto('{{ acao[0] }}', {{ acao[1] }}, '{{ acao[2] }}')">

      {% if acao[2] == 'Mobilidade' %} 🚗
      {% elif acao[2] == 'Alimentação' %} 🍽️
      {% elif acao[2] == 'Saúde' %} 🏥
      {% elif acao[2] == 'Moradia' %} 🏠
      {% elif acao[2] == 'Entretenimento' %} 🎮
      {% elif acao[2] == 'Educação' %} 📚
      {% elif acao[2] == 'Dívidas' %} 💳
      {% elif acao[2] == 'Pets' %} 🐶
      {% elif acao[2] == 'Investimentos' %} 💰
      {% else %} 💸
      {% endif %}

      {{ acao[0] }}
      <br>
      <span>R$ {{ acao[1] }}</span>

    </div>
    {% endfor %}
  </div>
</div>

<div class="lista-gastos">

  {% for data, lista in gastos_agrupados.items() %}
    <div class="data-grupo">📅 {{ data }}</div>
  
    {% for gasto in lista %}
      <div class="gasto-card" data-id="{{ gasto[4] }}">
        
        <div class="gasto-info">
  
          <div class="gasto-descricao">{{ gasto[1] }}</div>
        
          <div class="gasto-categoria categoria-{{ gasto[0]|replace(' ', '')|replace('í','i')|replace('ú','u') }}">
            {{ gasto[0] }}
          </div>
        
        </div>
  
        <div class="gasto-valor">
          R$ {{ gasto[2] | round(2) }}
        </div>

        <div class="gasto-acoes">
          <i class="fas fa-edit edit-icon"
             data-id="{{ gasto[4] }}"
             data-data="{{ gasto[3] }}"
             data-categoria="{{ gasto[0] }}"
             data-descricao="{{ gasto[1] }}"
             data-valor="{{ gasto[2] }}">
          </i>
        
          <i class="fa-solid fa-trash"
             data-id="{{ gasto[4] }}">
          </i>
        </div>
  
      </div>
    {% endfor %}
  
  {% endfor %}
  
  </div>

      <div class="total-gastos">
        Total: <span>R$ {{ soma_gastos | round(2) }}</span>
      </div>

       <div class="acoes-final">

        <button class="btn-adicionar">
          <span class="material-icons">add</span>
        </button>
        

          <a href="{{ url_for('gasto.exportar_excel', data_inicio=request.args.get('data_inicio'), data_fim=request.args.get('data_fim'), categoria=request.args.get('categoria')) }}" 
            class="btn-float-acao excel">
            <span class="material-icons">table_view</span>
          </a>

          <a id="enviapdf"
            href="{{ url_for('gasto.exportar_pdf', data_inicio=request.args.get('data_inicio'), data_fim=request.args.get('data_fim'), categoria=request.args.get('categoria')) }}" 
            class="btn-float-acao pdf">
            <span class="material-icons">picture_as_pdf</span>
          </a>

       </div>


        <!-- Paginação  REMOVIDO PAGINACAO-->
     

        <br><br><br><br>
    </div>

    <div class="footer-bar">
      <a href="{{ url_for('gasto.index') }}">
        <button class="footer-btn">
          <span class="material-icons">dashboard</span>
          <span class="footer-text">Visão Geral</span>
        </button>
      </a>    
        <a href="{{ url_for('despesa.despesas') }}">
          <button class="footer-btn">
            <span class="material-icons">bar_chart</span>
            <span class="footer-text">Despesas</span>
          </button>
        </a>
        <a href="{{ url_for('gasto.extrato') }}">
          <button class="footer-btn active">
            <span class="material-icons">account_balance_wallet</span>
            <span class="footer-text">Transações</span>
          </button>
        </a>
        <a href="{{ url_for('gasto.receitas') }}">
          <button class="footer-btn">
            <span class="material-icons">payment</span>
            <span class="footer-text">Receitas</span>
          </button>
        </a>
        <!-- <a href="{{ url_for('despesa.metas') }}">
          <button class="footer-btn">
            <span class="material-icons">payment</span>
            <span class="footer-text">Limites</span>
          </button>
        </a> -->
        <a href="{{ url_for('gasto.configuracoes') }}">
            <button class="footer-btn">
            <span class="material-icons">settings</span>
            <span class="footer-text">Configurações</span>
            </button>
        </a>
      </div>

<!-- Modal de Edição -->
<div id="modal-editar" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="fechar-modal">&times;</span>
      <h3>Editar Gasto</h3>
      <form id="form-editar" method="POST" action="{{ url_for('gasto.editar_gasto') }}">
        <label for="editar-data">Data:</label>
        <input type="date" name="data" id="editar-data">
  
        <label for="editar-categoria">Categoria:</label>
        <!-- <input type="text" name="categoria" id="editar-categoria" required> -->
        <select name="categoria" id="editar-categoria">

            <option value="Alimentação">Alimentação</option>
            <option value="Saúde">Saúde</option>
            <option value="Mobilidade">Mobilidade</option>
            <option value="Entretenimento">Entretenimento</option>
            <option value="Moradia">Moradia</option>
            <option value="Outros">Outros</option>
            <option value="Dívidas">Dívidas</option>
            <option value="Educação">Educação</option>
            <option value="Pets">Pets</option>
            <option value="Investimentos">Investimentos</option>
        </select>
        <label for="editar-descricao">Descrição:</label>
        <input type="text" name="gasto" id="editar-descricao" required>
  
        <label for="editar-valor">Valor (R$):</label>
        <input type="number" step="0.01" name="valor" id="editar-valor" required>
  
        <input type="hidden" id="editar-id" name="id">

        <button type="submit" class="botao-salvar">Salvar</button>
      </form>
    </div>
  </div>
  
 <!-- Modal confirmação  -->
 <div id="modal-confirmar-exclusao" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="fechar-modal-excluir">&times;</span>
      <h3>Tem certeza que deseja excluir este gasto?</h3>
      <form method="POST" action="{{ url_for('gasto.deletar_gasto') }}"> 
        <input type="hidden" id="id-gasto-excluir" name="id">
        <button type="submit" id="confirmar-exclusao" class="btn-ok" style="margin-top: 12px;">OK</button>
    </form>
    
    </div>
  </div>
  

<!-- Modal de Cadastro -->
<div id="modal-cadastrar" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="fechar-modal-cadastro">&times;</span>
      <h3>Cadastrar Gasto</h3>
      <form id="form-cadastrar" method="POST" action="{{ url_for('gasto.cadastrar_gasto') }}">
        <label for="cadastrar-data">Data:</label>
        <input type="date" name="data" id="cadastrar-data">
  
        <label for="cadastrar-categoria">Categoria:</label>
        <!-- <input type="text" name="categoria" id="cadastrar-categoria" required> -->
        <select name="categoria" id="cadastrar-categoria">

            <option value="Alimentação">Alimentação</option>
            <option value="Saúde">Saúde</option>
            <option value="Mobilidade">Mobilidade</option>
            <option value="Entretenimento">Entretenimento</option>
            <option value="Moradia">Moradia</option>
            <option value="Outros">Outros</option>
            <option value="Dívidas">Dívidas</option>
            <option value="Educação">Educação</option>
            <option value="Pets">Pets</option>
            <option value="Investimentos">Investimentos</option>
        </select>
        <label for="cadastrar-descricao">Descrição:</label>
        <input type="text" name="gasto" id="cadastrar-descricao" required>
  
        <label for="cadastrar-valor">Valor (R$):</label>
        <input type="number" step="0.01" name="valor" id="cadastrar-valor" required>
  
        <input type="hidden" id="cadastrar-id" name="id">

        <button type="submit" class="botao-salvar">Salvar</button>
      </form>
    </div>
  </div>


 <!-- Modal ok  -->
 <div id="modal-cadastro-ok" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" id="fechar-modal-ok">&times;</span>
      <h4>Gasto Cadastrado com sucesso!</h4>
      <form method="POST"> 
        <input type="hidden" id="id-gasto" name="id">
        <button type="submit" id="confirmar-ok" class="botao-salvar" style="margin-top: 12px;">OK</button>
    </form>
    
    </div>
  </div>

<!-- Modal mensalista  -->
<div id="modal-mensalista" class="modal" style="display: none;">
    <div class="modal-content" style="background-color: #e96960;">
      <span class="mensalista" id="fechar-modal-mensalista">&times;</span>
      <h4 style="text-align: center; color: #f5f5f5;">Assinatura de mensalista vencida!</h4>
      <h4 style="text-align: center; color: #f5f5f5;">Contate o administrador.</h4>  
      <button type="submit" id="confirmar-ok" class="btn-ok" style="margin-top: 12px;">OK</button>  
    </div>
  </div>

</body>
</html>