<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP Finanças - Abner Gomes ©</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comum.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <meta property="og:title" content="Meu App de Finanças">
	<meta property="og:description" content="Acompanhe seus gastos com estilo! | Abner Gomes ©">
	<meta property="og:image" content="https://my-financess-app.onrender.com/static/images/favicon.ico">
	<meta property="og:url" content="https://my-financess-app.onrender.com">
	<meta property="og:type" content="website">

</head>
<body>
 
  <div class="header-bar center">
    <div class="logo-text">
      <img src="{{ url_for('static', filename='images/A&A.png') }}" alt="Logo" class="logo">
      <span class="company-name">A&A - Finance Dashboard</span>
    </div>
  
    <div class="user-info">
      <div class="dropdown">
        <div class="dropdown-toggle" onclick="toggleDropdown()">
          
          <span id="user-icon" class="material-icons user-icon">person</span>
          
          <span id="current-username" class="user-name">{{ usuario.split('@')[0] }}</span>
          <span class="material-icons dropdown-icon">expand_more</span>
        </div>
    
        <div id="dropdown-menu" class="dropdown-menu">
          {% if temConjuge  %}
          <div class="dropdown-item" onclick="changeUser('Casal')">Casal</div>
          {% endif %}
          <div class="dropdown-item" onclick="changeUser('{{ usuario.split('@')[0] }}')">{{ usuario.split('@')[0] }}</div>
        </div>
      </div>
    </div>
    
  </div>
  

  <div class="dashboard-wrapper">

  <div class="chart-bar">
      <div class="chart-container-bar">
        <canvas id="barChart" style="height: 240px;"></canvas>
      </div>  
  </div>  

  <div class="chart-and-buttons">
<div class="container-btn">
<div class="period-container-wrapper" id="period-buttons">
  <button class="period-button " onclick="filtrarGastosBtn('semanaatual')">Semana Atual</button>
  <button class="period-button " onclick="filtrarGastosBtn('ontem')">Ontem</button>
  <button class="period-button " onclick="filtrarGastosBtn('hoje')">Hoje</button>
  <button class="period-button " onclick="filtrarGastosBtn('semanapassada')">Semana Passada</button>
  <button class="period-button " onclick="filtrarGastosBtn('mesatual')">Mês Atual</button>
  <button class="period-button " onclick="filtrarGastosBtn('mesanterior')">Mês Anterior</button>
</div>
</div>

<!-- <br><br> -->
 
  
  <div class="chart-container">
    <div id="mensagem" style="display: none; color: red; font-weight: bold; text-align: center; margin-top: 10px;"></div>
    <canvas id="donutChart"></canvas>
</div>

</div>

<div id="total" class="total" style="text-align: center; margin-top: 20px; padding: 10px 10px 10px 10px; ">
   <h3 class="txt1">Total Gasto no período: R$ <span id="valor-total">0,00</span></h3>
</div>
<br>



</div>
<div class="footer-bar">
  <a>
    <button class="footer-btn active">
      <span class="material-icons">dashboard</span>
      <span class="footer-text">Visão Geral</span>
    </button>
  </a>
  <a href="{{ url_for('despesa.despesas') }}">
    <button class="footer-btn">
      <span class="material-icons">bar_chart</span>
      <span class="footer-text">Despesas</span>
    </button>
  </a>
  <a href="{{ url_for('gasto.extrato') }}">
    <button class="footer-btn">
      <span class="material-icons">account_balance_wallet</span>
      <span class="footer-text">Transações</span>
    </button>
  </a>
  <!-- <a href="{{ url_for('despesa.metas') }}">
    <button class="footer-btn">
      <span class="material-icons">payment</span>
      <span class="footer-text">Limites</span>
    </button>
  </a> -->
  <a href="{{ url_for('gasto.configuracoes') }}">
    <button class="footer-btn">
      <span class="material-icons">settings</span>
      <span class="footer-text">Configurações</span>
    </button>
  </a>
</div>

 <!-- Modal mensagem  -->
 <div id="modal-mensagem" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="fechar-modal">&times;</span>
    <h4>Sem gastos para o período informado</h4>
    <form> 
      <button type="reset" id="confirmar-ok" class="botao-salvar" style="margin-top: 12px;">OK</button>
  </form>
  
  </div>
</div>

{% if usuario.split('@')[0] =='analidiacadribeiro28'  %} 
 <!-- Modal MO  -->
 <div id="modal-mo" class="modal" style="display: none;">
  <div class="modal-mo">
    <span class="close" id="fechar-modal">&times;</span>
    <h4>Te amo meu mozinho❤️  </h4>
    <form> 
      <button type="reset" id="confirmar-ok" class="botao-salvar" style="margin-top: 12px;">Clica aqui se tbm me ama</button>
  </form>
  
  </div>
</div>
{% endif %}

  <script src="static/js/scripts.js" defer></script>
</body>
</html>